<section id="actions" class="py-4 mb-4 mt-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a routerLink="/" class="btn btn-light w-100"><i class="fas fa-arrow-left p-1"></i>Regresar al inicio</a>
            </div>
        </div>
    </div>
</section>
<section id="datos">
    <div class="container text-center">
        <div class="col-md-10 m-auto">
            <div class="card border-light" style="box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.171);">
                <div class="card-header">
                    <h4>Datos</h4>
                </div>                            
                <div class="card-body">
                    <form [formGroup]="datosUsuario" (submit)="guardarDatos()">
                        <div class="row">
                            <div class="col">
                                <label for="imgProfile" *ngIf="image">
                                    <div class="overlay">
                                        <i id="hidden_icon" width="100px" class="fas fa-upload"></i>
                                        <div class="fill"  style="width:100px; height:100px">
                                            <img width="100px" src="{{image | async}}" class="imagen-perfil">
                                        </div>
                                    </div>
                                </label>
                                <div class="row justify-content-center">
                                    <div class="progress mt-2 col-md-2" [hidden]="!(uploadPercent | async)">
                                        <div class="progress-bar progress-bar-striped bg-wajoby" role="progressbar" [style.width]="(uploadPercent | async) + '%'"><span *ngIf="(uploadPercent | async)>0">{{uploadPercent | async}}%</span></div>
                                    </div>
                                </div>
                                <input class="form-control" type="file" id="imgProfile" accept=".jpg,.jpeg,.png" (change)="imagenSeleccionada($event)"  style="display: none;">
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <div>
                                        <input type="text" class="form-control" formControlName="name" value="{{usuarioActivo?.nombre}}" placeHolder="Example: Miguel" #name ng-maxlength="16" [ngClass]="{'is-invalid': datosUsuario.controls.name.errors?.required && datosUsuario.controls.name.touched}">
                                        <div [hidden]="!this.datosUsuario.controls.name.errors?.required" class="invalid-feedback">Nombre requerido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Apellidos</label>
                                    <div>
                                        <input type="text" class="form-control" formControlName="surnames" value="{{usuarioActivo?.apellidos}}" placeHolder="Example: Hernández" #surnames ng-maxlength="16" [ngClass]="{'is-invalid': datosUsuario.controls.surnames.errors?.required && datosUsuario.controls.surnames.touched}">
                                        <div [hidden]="!this.datosUsuario.controls.surnames.errors?.required" class="invalid-feedback">Apellidos requeridos</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-3 justify-content-center">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Pais</label>
                                    <div>
                                        <select name="pais" formControlName="pais" class="form-select form-select-md" required [ngClass]="{'is-invalid': datosUsuario.controls.pais.errors?.required && datosUsuario.controls.pais.touched}">
                                            <option *ngFor="let pais of paises" class="form-control" #pais [value]="pais?.nombre" [selected]="usuarioActivo?.pais === pais?.nombre">{{pais?.nombre}}</option>
                                        </select>
                                        <div [hidden]="!this.datosUsuario.controls.pais.errors?.required" class="invalid-feedback">Debe seleccionar un país</div>                     
                                    </div>
                                </div>
                            </div>                        
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <div>
                                        <input type="text" class="form-control" formControlName="telefono" value="{{usuarioActivo?.telefono}}" pattern="[0-9]+" placeHolder="Example: 123456789" #telefono ng-minlength="9" maxlength="9" [ngClass]="{'is-invalid': datosUsuario.controls.telefono.errors?.required && datosUsuario.controls.telefono.touched || datosUsuario.controls.telefono.errors?.minlength}">
                                        <div [hidden]="this.datosUsuario.controls.telefono.errors?.required && this.datosUsuario.controls.telefono.errors?.minlength" class="invalid-feedback">Debe contener 9 dígitos</div>
                                        <div [hidden]="!this.datosUsuario.controls.telefono.errors?.pattern" class="invalid-feedback">Solo se admiten números</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center mt-3">
                            <div class="col-md-12">
                                <input type="submit" [disabled]="!this.imagen && (this.datosUsuario.controls.name.invalid || this.datosUsuario.controls.surnames.invalid || this.datosUsuario.controls.pais.invalid || this.datosUsuario.controls.telefono.invalid)" value="Guardar cambios" class="btn btn-success">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="cv" class="py-4 mb-4 mt-4">
    <app-carga-curriculum *ngIf="usuarioActivo?.id" [usuarioActivo]="usuarioActivo"></app-carga-curriculum>
</section>
<section id="header-perfil-ofertas" class="py-4 mb-4 mt-4 bg-light">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Ofertas</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Solicitudes</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row text-center mt-5">
                    <h2>Tus ofertas de empleo creadas</h2>
                </div>
                <div class="row text-start mb-2" style="margin-left: 10px;">
                    <app-modal-crear-oferta></app-modal-crear-oferta>
                </div>
                <div class="row">
                    <app-lista-ofertas-perfil></app-lista-ofertas-perfil>
                </div>    
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row text-center mt-5">
                    <h2>Tus solicitudes de empleo</h2>
                </div>
                <div class="row">
                    <app-lista-solicitudes-perfil></app-lista-solicitudes-perfil>
                </div>
            </div>
          </div>
    </div>
</section>