.btn-wajoby{
    background-color: #13c1ac;
    border-color: #13c1ac;
    border-radius: 50px;
    color: white;
}

.bg-wajoby{
    background-color: #13c1ac;
}

.fill {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}