<div class="container-fluid text-center mt-5" style="background-color: #ECEFF1; margin-bottom: 15px;">
    <div class="container p-5">
        <h2><strong>Las ofertas más solicitadas</strong></h2>
        <div style="display: flex; margin-top: 30px;">
            <div class="col-12 col-sm-6 col-md-4 infoPortada">
                <a class="home-subsection" routerLink="/ofertas/fitness" title="Alfombra" data-subsection-title="Alfombra" data-section-order="1" rel="">
                    <div class="card text-start">
                        <img src="https://firebasestorage.googleapis.com/v0/b/wajoby-8fbf2.appspot.com/o/jobs_images%2Frestaurante-albala.jpg?alt=media&token=365b1251-a7a2-4f02-9e00-b338a0a25afc" loading="lazy" alt="Sofá">                
                        <h3 class="mt-2">Prueba</h3>
                        <p class="text-muted mb-0">2.500 solicitudes</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 infoPortada">
                <a class="home-subsection" routerLink="/ofertas/fitness" title="Alfombra" data-subsection-title="Alfombra" data-section-order="1" rel="">
                    <div class="card text-start">
                        <img src="https://firebasestorage.googleapis.com/v0/b/wajoby-8fbf2.appspot.com/o/jobs_images%2Frestaurante-albala.jpg?alt=media&token=365b1251-a7a2-4f02-9e00-b338a0a25afc" loading="lazy" alt="Sofá">                
                        <h3 class="mt-2">Prueba</h3>
                        <p class="text-muted mb-0">2.500 solicitudes</p>
                    </div>
                </a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 infoPortada">
                <a class="home-subsection" routerLink="/ofertas/fitness" title="Alfombra" data-subsection-title="Alfombra" data-section-order="1" rel="">
                    <div class="card text-start">
                        <img src="https://firebasestorage.googleapis.com/v0/b/wajoby-8fbf2.appspot.com/o/jobs_images%2Frestaurante-albala.jpg?alt=media&token=365b1251-a7a2-4f02-9e00-b338a0a25afc" loading="lazy" alt="Sofá">                
                        <h3 class="mt-2">Prueba</h3>
                        <p class="text-muted mb-0">2.500 solicitudes</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>